@import "../styles/minix.scss";

.wrapper {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  background: $background-color;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 70px;

  @include lg {
    padding-top: 0;
    padding-left: 100px;
  }
}