@import "../../styles/minix.scss";

.wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

.content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  h2 {
    margin-top: 3%;

    @include lg {
      margin-top: 1%;
    }
  }
}

.huge {
  color: $logo-chen;
  @include create-font(0, normal, 180, 150);
}