/*-------- color --------*/
$background-color: #e4f4f3;
$logo-chen: #01a093;
$logo-han: #007574;
$logo-chen-light: #90ffee;
$logo-han-light: #20ecbe;
$font-light: #b0ffee;
$font-grey: #636363;

/*-------- responsive --------*/
$break-point: 768;

@mixin lg {
  @media (min-width: #{$break-point + 1px}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$break-point}) {
    @content;
  }
}

@mixin respond-between($mq-min, $mq-max) {
  @media (min-width: $mq-min) and (max-width: $mq-max) {
    @content;
  }
}

@function get-vw($base, $size) {
  @return ($size/($base/100))*1vw;
}

@mixin vw($base, $size) {
  font-size: $size *.8px;
  font-size: get-vw($base, $size);
}

@mixin create-font($letter-spacing, $font-weight, $size-lg, $size-sm) {
  font-size: $size-lg + px;
  letter-spacing: $letter-spacing + px;
  font-weight: $font-weight;

  @include respond-between(#{$break-point + 1px}, 1280px) {
    @include vw(1280, $size-lg);
  }
  @include sm {
    font-size: $size-sm + px;
  }

  @include respond-between(0px, 480px) {
    @include vw(480, $size-sm);
  }
}

@mixin center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, - 50%);
}

@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin center-horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}