@import "../../styles/minix.scss";

.wrapper {
  width: 90%;
  margin: 0 auto;

  @include lg {
    width: 80%;
  }
}

.innerWrapper {
  padding: 10% 0;
  overflow: hidden;

  @include lg {
    padding: 8% 0;
  }
}

.h1 {
  margin: 5% 0;

  @include lg {
    margin: 3% 0;
  }
}

.h2 {
  margin: 5% 0 12%;

  > h2 {
    line-height: 1.2;
    font-style: italic;

    > a {
      color: $logo-chen;
    }
  }
}

.location {
  clear: both;
  float: left;
  text-align: center;
}

.h3 > strong {
  display: block;
  margin-top: 3px;
  font-weight: bold;
}

.i {
  background: url(../../assets/location.svg);
  transition: transform 300ms cubic-bezier(0.48, -1.43, 0.37, 2);
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;

  &:hover {
    transform: translateY(-10%);
  }
}

.social {
  clear: both;
  float: left;
  text-align: center;
  display: table;
  width: 100%;
  margin-top: 15%;

  @include lg {
    float: right;
    clear: none;
    margin-top: 0;
    width: 30%;
  }

  > a {
    display: table-cell;
  }
}

.linkedin {
  background: url(../../assets/linkedin.svg);
}

.facebook {
  background: url(../../assets/facebook.svg);
 
}

.github {
  background: url(../../assets/github.svg);
}

.linkedin, .facebook, .github {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: transform 300ms cubic-bezier(0.48, -1.43, 0.37, 2);

  &:hover {
    transform: scale(1.2);
  }
}