@import "../../styles/minix.scss";

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  position: relative;
  background: rgba(23,169,157,0.9);
  background: linear-gradient(to bottom, rgba(23,169,157,0.9) 0, rgba(0,95,99,0.9) 100%);
  z-index: 88;

  @include lg {
    padding-left: 100px;
    padding-top: 0;
  }
}

.innerWrapper {
  width: 100%;
  height: 100%;
  padding: 3%;

  @include lg {
    padding: 4% 5%;
  }
}

.nav {
  height: 80%;

  @include lg {
    height: 90%;
  }

  ul {
    height: 90%;
  }

  li {
    height: 20%;
  }

  a {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $font-light;
    transition: .25s ease-in-out;
    @include create-font(0, normal, 76, 48);

    @include lg {
      justify-content: flex-start;

      &:hover, &:focus {
        color: darken($font-light, 30%);
      }
    }
  }
}

.selected a {
  color: darken($font-light, 30%);

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 30%;
    height: 40%;
    width: 4px;
    background: darken($font-light, 30%);

    @include lg {
      content: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 30%;
    height: 40%;
    width: 4px;
    background: darken($font-light, 30%);

    @include lg {
      width: 6px;
      top: 25%;
      height: 50%;
    }
  }
}

.footer {
  height: 20%;
  border-top: 1px solid #01c6ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include lg {
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  span {
    color: $font-light;
    line-height: 1.5;
    @include create-font(0, normal, 16, 14);
  }
}